/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #242526; /* Dark grey, matching Docusaurus dark footer style */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage {
  max-width: 60%; /* Adjust as needed */
  max-height: 300px; /* Adjust as needed */
  margin-bottom: 2rem;
  border-radius: 8px; /* Optional: adds rounded corners */
}

.contentSection {
  padding: 4rem 0;
}


